.exemple {
  height: 100vh;
  width: 100%;
  background-image: url('../img/exemple-small.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @media (orientation: portrait) {
    background-image: url('../img/mobile-exemple.jpg');
  }

  @media (orientation: landscape) {
    background-image: url('../img/desktop-exemple.jpg');
  }
}

.exemple__point {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255,255,255,1);
  font-family: "Source sans pro", Arial, sans-serif;
  font-weight: bolder;
  font-size: 25px;
  color: black;

  &::before{
    content:'';
    height: calc(100% + 16px);
    width: calc(100% + 16px);
    position: absolute;
    left: -8px;
    right: 0;
    bottom: 0;
    top: -8px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.58);
  }

  & .plusIcon {
    width: 20px;
    height: 20px;
  }
}

.exemple__pointTextContainer {
  height: auto;
  width: 100vw;
  position: absolute;
  text-align: center;
  background-color: rgba(255,255,255,0.58);

  & .plusIcon {
    width: 20px;
    height: 20px;
    left: 5px;
    top: 5px;
    transform: rotate(45deg);
    transform-origin: 50%  51%; /** CSS hacks to prevent blur on rotate **/
  }
}

sub {
  font-size: smaller;
  vertical-align: sub;
}


.exemple__point--lefthand {
  top: 20vh;
  left: 40vh;

  .exemple__pointTextContainer {
    top:10vh;
    left:-40vh;
  }
}
