.explore {
  height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.explore__title {
  width:100%;
  height: 12vh;
  font-family: "Helvetica neue", Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $siteHPcolor;
  color:white;
}

.explore__sideTitle {
  font-family: "Helvetica neue", Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  transform-origin: center center;
  transform:translateX(44%) rotate(-90deg);
  position: absolute;
  right: 0;
  bottom: 41vh;
}

.explore__subtitle {
  height:10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: $siteHPcolor;
}

.explore__visuel {
  height: 42vh;
  background-color: $siteHPcolor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore__list {
  margin: 2vw 10vw;
  height: 50vh;
}

.explore__listItem {
  position: relative;
  text-align: center;
  font-family: "Source sans pro", Arial, sans-serif;
  margin: 10px 0;

  &::before {
    font-size: 28px;
    font-weight: 700;
    font-size: 24px;
    color: $siteHPcolor;
    position: absolute;
    left:-6vw;
  }

  @for $i from 1 through 6 {
    &:nth-child(#{$i})::before {
      content: '#{$i}';
    }
  }

}
