.survey {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: "Source sans pro", Arial, sans-serif;
  font-size: 16px;
  background-color: white;
  color:black;
  position: relative;

}

.survey__introduction {
  width: 75%;
  height: 100vh;
  position: absolute;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.4s ease-in;
  transform: translateY(0);

  &--over {
    transform: translateY(100vh);
  }
}

.survey__introductionTitle {
  font-family: "Helvetica neue", sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.25;
}

.survey__introductionSeparation {
  width: 25%;
  margin: 20px 0;
  border: 2px solid $accentColor;
}

.survey__introductionDescription {
  margin: 10px 0;
  font-size: 24px;
}
.survey__introductionCTA {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  border-radius: 50px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: "Helvetica neue", Arial, sans-serif;
  font-size: 18px;
  transition: all ease 0.3s;

  &:hover {
    background-color: $accentColor;
  }
}
.survey__question {
  height: 100vh;
  width:95%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  transform: translateY(100vh);
  transition: 0.4s ease-in;

  &--current {
    position: initial;
    opacity: 1;
    transform: translateY(0);
  }

  &:nth-child(-n+3) {
    cursor: n-resize;
  }

  &:nth-child(4) {
    cursor: e-resize;
  }

  @include desktop {
    justify-content: flex-start;
  }
}

.survey__wizard {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica neue", Arial, sans-serif;
  font-size: 24px;
  margin-top: 5vh;
  margin-bottom:5vh;

  @include desktop {
    margin-top: 8vh;
  }
}

.survey__wizardCurrent {
  font-weight: bold;
}

.survey__wizardSep {
  border: 1px solid $accentColor;
  width:10px;
  margin: 7px 0;
}

.survey__wizardAll {
  opacity: 0.58;
}

.survey__questionTitle {
  flex: 1;
  display: flex;
  align-items: center;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;

  @include desktop {
    flex:initial;
    margin-bottom: 10vh;
    font-size:48px;
  }
}


.survey__questionValidation {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  align-self: center;
  position: relative;
  bottom: -4vh;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  @include desktop {
    height: auto;
    width: auto;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:initial;
    position: absolute;
    bottom:10vh;
    transition: all ease 0.3s;
    cursor: pointer;
    font-size: 36px;

    &:before {
      content:'';
      width: 100%;
      height: 0%;
      position: absolute;
      left:0;
      top: -10px;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-color: $accentColor;
      transition: all ease-out 0.3s;
    }

    &:hover::before{
      height: calc(100% + 20px);
    }

    &:hover {
      color:white;
    }
  }
}

.survey__questionValidationIcon {
  pointer-events: none;
  font-size: 36px;
}


.survey__questionAnswer {
  flex: 4;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;

  @include desktop {
    flex:initial;
  }
}

.survey__questionAnswerInputs {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  user-select: none;

  @include desktop {
    align-self: flex-start;
  }
}

.survey__questionAnswerInput {
  text-align: center;
  font-size: 16px;
  transition: all 0.1s linear;
  user-select:none;
}

.survey__questionAnswerUnit {
  width: 0;
  align-self: center;
  user-select: none;

  @include desktop {
    align-self: center;
  }
}

/*
  ********************************* QUESTION AGE
**/
.survey__question--age {
  .survey__questionAnswerInput {
    font-size: 36px;
    opacity: 0.75;

    @include desktop {
      font-size: 60px;
    }
  }

  .survey__questionAnswerInput--selected {
    font-size: 48px;
    font-weight: bold;
    opacity: 1;

    @include desktop {
      font-size: 72px;
    }
  }

  .survey__questionAnswerInput:first-child, .survey__questionAnswerInput:last-child  {
    font-size: 24px;
    opacity: 0.5;

    @include desktop {
      font-size: 36px;
    }
  }

  .survey__questionAnswerUnit {
    margin-left: 10px;
    font-size: 36px;
    font-weight: bold;

    @include desktop {
      font-size: 60px;
    }
  }
}

/*
  ********************************* QUESTION HEIGHT
**/
.survey__question--height {

  .survey__questionAnswerPointer {
    height: 5px;
    flex: 1;
    align-self: center;
    transform: translateX(-20px);

    hr {
      width: 60px;
      margin-left: auto;
      border: 2px solid $accentColor;

      @include desktop {
        border-width: 5px;
      }
    }
  }
  .survey__questionAnswerInputs {
    flex: 0;
  }
  .survey__questionAnswerInput {
    line-height: 1.1;
    font-size: 24px;
    opacity: 0.75;

    @include desktop {
      font-size: 30px;
    }

    &:nth-child(-n+3), &:nth-last-child(-n+3) {
      opacity: 0.5;
    }

    &:first-child, &:last-child {
      opacity: 0.25;
    }
  }

  .survey__questionAnswerInput--selected {
    font-size: 30px;
    font-weight: bold;
    opacity: 1;

    @include desktop {
      font-size: 36px;
    }
  }

  .survey__questionAnswerUnit {
    flex: 1;
    margin-left: 1rem;
    font-size: 30px;
    font-weight: bold;
  }
}

/*
  ********************************* QUESTION WEIGHT
**/

.survey__question--weight {

  .survey__questionAnswer {
    flex-direction: column;
  }

  .survey__questionAnswerDisplay {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 36px;
    font-weight: bold;

    @include desktop {
      flex:initial;
      font-size: 48px;
    }
  }
  .survey__questionAnswerInputs {
    flex: 2;
    flex-direction: row;
    align-items: center;

    @include desktop {
      height: 300px;
      align-self: center;
    }
  }

  .survey__questionAnswerInput {
    width: 5px;
    height: 50%;
    margin: 0 5px;
    background-color: black;

  }

  .survey__questionAnswerInput--selected {
    height: 90%;
    background-color: $accentColor;
  }

  .survey__questionAnswerUnit {
    align-self: flex-end;
    margin-left: 1rem;
    font-size: 36px;
    font-weight: bold;
  }
}

/*
  ********************************* QUESTION PROFILE
**/

.survey__question--profile {

  .survey__questionAnswerInputs {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
  }

  .survey__questionAnswerInput {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    line-height: 1.8;
    white-space: nowrap;
    transition: all ease 0.2s;

    @include desktop {
      font-size:30px;
    }

    &:before, &:after {
      width: 0px;
      height: 2px;
      visibility: hidden;
      margin: 10px;
      white-space: nowrap;
      border: 2px solid $accentColor;
      transition: all ease-in 0.3s;
      content: '';

      @include desktop {
        height: 4px;
        border: 4px solid $accentColor;
      }
    }
  }

  .survey__questionAnswerInput--selected {
    font-size: 36px;

    @include desktop {
      font-size:42px;
    }

    &:before, &:after {
      width: 100px;
      visibility: visible;
      border: 2px solid $accentColor;
    }
  }

}
