<section class='survey'>
  <header class='survey__header'>
    <div class='survey__logo'></div>
    <h2 class='survey__question'>Quel est votre taille ?</h2>
  </header>
  <section class="survey__body">
    <div class="survey__height">
    </div>
    <div class="survey__unit survey__unit--height">cm</div>
  </section>
  <footer class='survey__footer'>
    <button class='survey__validate'>
      <i class="material-icons survey__validate__icon">done</i>
    </button>
  </footer>
</section>
