<header class='exemple'>
  <div data-exemple='1' class='exemple__point exemple__point--lefthand'>
    <div class='plusIcon'>
      <div class='plusIcon__horizontalBar'></div>
      <div class='plusIcon__verticalBar'></div>
    </div>
    <div class='exemple__pointTextContainer'>
      <div class='exemple__liveChartTitle'>Taux de CO<sub>2</sub></div>
      <div class='exemple__liveChart'></div>
    </div>
  </div>

  <div data-exemple='2' class='exemple__point exemple__point--heart'>
    <div class='plusIcon'>
      <div class='plusIcon__horizontalBar'></div>
      <div class='plusIcon__verticalBar'></div>
    </div>
    <div class='exemple__pointTextContainer'>
      <div class='exemple__liveChartTitle'>Battements de <span class='heart'>❤</span></div>
      <div class='exemple__liveChart'></div>
    </div>
  </div>

  <div data-exemple='3' class='exemple__point exemple__point--rightleg'>
    <div class='plusIcon'>
      <div class='plusIcon__horizontalBar'></div>
      <div class='plusIcon__verticalBar'></div>
    </div>
    <div class='exemple__pointTextContainer'>
      <div class='exemple__liveChartTitle'>Taux d'oxigène</div>
      <div class='exemple__liveChart'></div>
    </div>
  </div>
</header>
<section class='slide'>
  <h3 class='slide__title'>Comment ça marche ?</h3>
  <div class='slide__content'>
    <div class='slide__slider'>
        <div class='slider__controlPoint'></div>
        <div class='slider__controlPoint'></div>
        <div class='slider__controlPoint'></div>
    </div>
    <div class='slide__sep'>
      <div class='plusIcon'>
        <div class='plusIcon__horizontalBar'></div>
        <div class='plusIcon__verticalBar'></div>
      </div>
    </div>
    <ol class='slide__list'>
      <li class='slide__listItem'>Consulter son état de santé grâce à un carnet de santé virtuel</li>
      <li class='slide__listItem'>Recevoir des conseils personnalisés de nutritionnistes pour améliorer son régime alimentaire</li>
      <li class='slide__listItem'>Suivre son état physique et anticiper les problèmes de santé liés aux antécédents génétiques</li>
      <li class='slide__listItem'>Partenaire de mutuelles santé et de banque pour négocier</li>
      <li class='slide__listItem'>Anticipation des pathologies chroniques responsables de 70% des coûts de santé. Grâce à cette puce, nous pouvons prévenir des maladies avant de devoir faire subir aux individus des traitements lourds et coûteux.</li>
    </ol>
  </div>
</section>

<section class='slide slide--left'>
  <h3 class='slide__title'>Application</h3>
  <div class='slide__content'>
    <div class='slide__slider'>
        <div class='slider__controlPoint'></div>
        <div class='slider__controlPoint'></div>
        <div class='slider__controlPoint'></div>
    </div>
    <div class='slide__sep'>
      <div class='plusIcon'>
        <div class='plusIcon__horizontalBar'></div>
        <div class='plusIcon__verticalBar'></div>
      </div>
    </div>
    <ol class='slide__list'>
      <li class='slide__listItem'>Suivre son état de santé grâce à un carnet de santé virtuel</li>
      <li class='slide__listItem'>Recevoir des conseils personnalisés pour rester en forme</li>
      <li class='slide__listItem'>Automatiser la prise de rendez-vous chez le médecin</li>
      <li class='slide__listItem'>Anticiper les problèmes de santé liés à la génétique</li>
      <li class='slide__listItem'>Alerte lorsque vous êtes en plein soleil et que vous subissez les effets négatifs des UV sur votre peau</li>
    </ol>
  </div>
</section>
