<header class='exemple'>
  <div class='exemple__point exemple__point--lefthand'>
    <div class='plusIcon'>
      <div class='plusIcon__horizontalBar'></div>
      <div class='plusIcon__verticalBar'></div>
    </div>
    <div class='exemple__pointTextContainer'>
      <div class='plusIcon'>
        <div class='plusIcon__horizontalBar'></div>
        <div class='plusIcon__verticalBar'></div>
      </div>
      <div class='exemple__liveChartTitle'>CO<sub>2</sub> dans le sang</div>
      <div class='exemple__liveChart'></div>
    </div>
  </div>
</header>
<section class='how'>
  <h3 class='how__title'>Comment ça marche ?</h3>
  <div class='slider'>
    <picture>
    <picture>
    <picture>
    <div class='sliderPoint'></div>
    <div class='sliderPoint'></div>
    <div class='sliderPoint'></div>
  </div>
  <div class='how__sep'>
    <div class='plusIcon'>
      <div class='plusIcon__horizontalBar'></div>
      <div class='plusIcon__verticalBar'></div>
    </div>
  </div>
  <p class='how__explanationText'>
    Le Lorem Ipsum est simplement du faux texte
    employé dans la composition et la mise en page avant impression.
     Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
      quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser
       un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles,
        mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en
         soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles
          Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son
          inclusion dans des
    applications de mise en page de texte, comme Aldus PageMaker.



  </p>
</section>

<section class='explore'>
  <h3 class='explore__title'>Explorer</h3>
  <h4 class='explore__subtitle'>ET LES POINTS FORTS ?</h4>
  <div class='explore__visuel'>
    <div class='explore__visuelbg'>
      <div class='plusIcon'>
        <div class='plusIcon__horizontalBar'></div>
        <div class='plusIcon__verticalBar'></div>
      </div>
    </div>
    <div class='explore__visuelapp'></div>
  </div>
  <ol class='explore__list'>
    <li class='explore__listItem'>Suivre son état de santé grâce à un carnet de santé virtuel</li>
    <li class='explore__listItem'>Recevoir des conseils personnalisés pour rester en forme</li>
    <li class='explore__listItem'>Automatiser la prise de rendez-vous chez le médecin</li>
    <li class='explore__listItem'>Anticiper les problèmes de santé liés à la génétique</li>
    <li class='explore__listItem'>Alerte lorsque votre corps subis d'importants effets négatif (UV...)</li>
    <li class='explore__listItem'>Proposition chaque jours d'exercices les plus bénéfiques pour vous</li>
  </ol>
    <h3 class='explore__sideTitle'>APPLICATION</h3>
</section>
