<section class='survey'>
  <header class='survey__header'>
    <div class='survey__logo'></div>
    <h2 class='survey__question'>Avant tout, quelques questions...</h2>
    <div class='survey__question__description'>
      Nous allons vous soumettre quelques questions afin de personaliser au mieux
      votre expérience. N'hésitez pas à lire nos CGU à cette adresse.
    </div>
    <button class="survey__skip">
      Passer le formulaire <i class="material-icons survey__skip__icon">keyboard_arrow_right</i>
    </button>
  </header>

  <footer class='survey__footer'>
    <button class='survey__validate'>
      <i class="material-icons survey__validate__icon">done</i>
    </button>
  </footer>
</section>
