<section class='survey'>
  <section class='survey__introduction'>
    <h2 class='survey__introductionTitle'>Dites nous en un peu plus à votre sujet</h2>
    <p class='survey__introductionDescription'>
      En répondant aux quelques questions de ce questionnaire, nous serons capable d'avoir une idée plus précise sur vos attentes.
      Ainsi nous pourrons vous proposez le meilleur pour vous aider à vous améliorer.
    </p>
  </section>

  <article class='survey__question survey__question--age'>
    <h2 class='survey__questionTitle'>Commençons par une question simple, quel est votre âge ?</h2>
    <section class='survey__questionAnswer'>
      <div class='survey__questionAnswerInputs'></div>
      <div class='survey__questionAnswerUnit'>ans</div>
    </section>
    <button class='survey__questionValidation'>
      <i class="material-icons survey__questionValidationIcon">done</i>
    </button>
  </article>

  <article class='survey__question survey__question--height'>
    <h2 class='survey__questionTitle'>Quel est votre taille ?</h2>
    <section class='survey__questionAnswer'>
      <div class='survey__questionAnswerPointer'><hr></div>
      <div class='survey__questionAnswerInputs'></div>
      <div class='survey__questionAnswerUnit'>cm</div>
    </section>
    <button class='survey__questionValidation'>
      <i class="material-icons survey__questionValidationIcon">done</i>
    </button>
  </article>

  <article class='survey__question survey__question--weight'>
    <h2 class='survey__questionTitle'>Quel est votre poids ?</h2>
    <section class='survey__questionAnswer'>
      <div class='survey__questionAnswerDisplay'>
        <span></span>
        <span class='survey__questionAnswerUnit'>kg</span>
      </div>
      <div class='survey__questionAnswerInputs'></div>
    </section>
    <button class='survey__questionValidation'>
      <i class="material-icons survey__questionValidationIcon">done</i>
    </button>
  </article>
</section>
